@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.breadcrumb > li + li:before {
    content: "/";
    padding: 0 5px;
    color: #ccc;
}

.table.forum {
    a {
        color: $text-color;
        &:hover, &:focus {
            color: $link-color;
        }
    }
    thead {
        background-color: $gray-dark;
        color: white;
        th {
            font-weight: normal;
        }
    }
    td.icon {
        text-align: center;
        background-color: $gray-lighter;
        i {
            padding-top: 5px;
        }
    }
    td {
        padding: 10px 8px;
    }
}

.forum-thread {
    section.row {
        min-height: 250px;
        border: 1px solid $gray-lighter;
        margin-bottom: 25px;
        .user-info {
            border-right: 1px solid $gray-lighter;
            padding: 25px 15px;
            text-align: center;
            img {
                display: block;
                margin: auto;
            }
        }
    }
}
